altair==4.1.0
argcomplete==1.10.0
astor==0.8.1
atomicwrites==1.3.0
attrs==19.1.0
Babel==2.8.0
backcall==0.1.0
base58==2.0.1
Beaker==1.10.0
beautifulsoup4==4.9.0
bleach==3.1.0
blinker==1.4
blivet==3.2.2
blivet-gui==2.1.13
boto3==1.14.12
botocore==1.17.12
Bottleneck==1.2.1
Brlapi==0.7.0
cachetools==4.1.0
cffi==1.14.0
chardet==3.0.4
chrome-gnome-shell==0.0.0
click==7.1.2
configobj==5.0.6
cryptography==2.8
cupshelpers==1.0
cycler==0.10.0
dasbus==0.2
dbus-python==1.2.16
decorator==4.4.0
defusedxml==0.6.0
distro==1.4.0
docutils==0.15.2
entrypoints==0.3
enum-compat==0.0.3
fros==1.1
gpg==1.13.1
html5lib==1.0.1
humanize==0.5.1
idna==2.8
importlib-metadata==0.17
ipykernel==5.1.4
ipython==7.5.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
jedi==0.13.3
Jinja2==2.11.2
jmespath==0.10.0
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==5.3.4
jupyter-console==6.1.0
jupyter-core==4.6.3
kiwisolver==1.2.0
langtable==0.0.51
libcomps==0.1.15
lxml==4.4.1
Mako==1.1.1.dev0
MarkupSafe==1.1.1
matplotlib==3.2.1
mistune==0.8.3
mock==3.0.5
more-itertools==8.4.0
nbconvert==5.6.0
nbformat==5.0.4
netifaces==0.10.6
nftables==0.1
notebook==6.0.2
ntplib==0.3.3
numexpr==2.7.1
numpy==1.18.4
olefile==0.46
ordered-set==3.1
packaging==20.4
pandas==0.25.3
pandas-datareader==0.8.0
pandocfilters==1.4.1
parso==0.4.0
Paste==3.2.4
pathtools==0.1.2
pexpect==4.7.0
pickleshare==0.7.5
pid==2.2.3
Pillow==7.0.0
pluggy==0.13.1
ply==3.11
productmd==1.26
prometheus-client==0.7.1
prompt-toolkit==2.0.9
protobuf==3.12.2
ptyprocess==0.6.0
pwquality==1.4.2
py==1.8.2
pycairo==1.18.2
pycparser==2.19
pycrypto==2.6.1
pycups==2.0.1
pycurl==7.43.0.5
pydeck==0.4.0b2
pyenchant==2.0.0
Pygments==2.4.2
PyGObject==3.36.1
pyinotify==0.9.6
pykickstart==3.24
pyOpenSSL==19.0.0
pyparsing==2.4.7
pyparted==3.11.4
pyrsistent==0.16.0
PySocks==1.7.1
pytest==5.4.3
python-augeas==0.5.0
python-dateutil==2.8.0
python-meh==0.48
pytz==2020.1
pyudev==0.22.0
pyxdg==0.26
pyzmq==18.1.0
qtconsole==4.7.4
QtPy==1.9.0
requests==2.22.0
requests-file==1.4.3
requests-ftp==0.3.1
rpm==4.15.1
s3transfer==0.3.3
scipy==1.4.1
scour==0.37
selinux==3.0
Send2Trash==1.4.2
sepolicy==3.0
setools==4.3.0
simplegeneric==0.8.1
simpleline==1.6
six==1.12.0
slip==0.6.4
slip.dbus==0.6.4
sos==3.9
soupsieve==1.9.2
streamlit==0.62.0
systemd-python==234
tables==3.5.2
Tempita==0.5.1
terminado==0.8.3
testpath==0.3.1
toml==0.10.1
toolz==0.10.0
tornado==6.0.2
traitlets==4.3.2
tzlocal==2.1
urllib3==1.25.7
validators==0.15.0
variety==0.8.3
watchdog==0.10.3
wcwidth==0.1.7
webencodings==0.5.1
widgetsnbextension==3.5.1
xlrd==1.2.0
xlwt==1.1.2
zipp==0.5.1
